{% extends "app/layout_2.html" %}
{% block title %}
    <h2>Contact us</h2>
    <a href="/">Home</a> / Contact us
{% endblock %}

{% block content %}
<h3>Our Address</h3>
<address>
    152 Nanyang Crescent<br />
    NTU, S637658<br />
    <abbr title="Phone">Pham:</abbr>
    +6584803144
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anh005@e.ntu.edu.sg">anh005@e.ntu.edu.sg</a><br />
    <strong>Marketing:</strong> <a href="mailto:theanh0512@gmail.com">theanh0512@gmail.com</a>
</address>

{% endblock %}
