{% extends "app/layout.html" %}

{% block content %}
<br /><br /><br />
<div class="bg-image">
    <img src="../../static/app/img/snakealertboard.jpg"class="img-responsive" style="width:100%;height:300px;" />
</div>

<br /><br /><br />

<div class="row">
    <div class="col-md-4">
        <div class="service-box color-2 extra-btn">
            <div class="icon-service-box">
                <img src="../../static/app/img/iconAlert.png" alt="" style="width:60px;height:60px;"/>
                </div>
            <h2 class="title">Alert</h2>
            <p>
                Your smartphone will alert whenever you approach the area snake cases happended before.   
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service-box color-1 extra-btn">
            <div class="icon-service-box">
                <img src="../../static/app/img/iconMap.png" alt="" style="width:60px;height:60px;"/>
            </div>
            <h2 class="title">Prevention</h2>
            <p>Hotspot maps of snake cases available on your smartphone so you can protect yourself from snakes.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service-box color-2 extra-btn">
            <div class="icon-service-box">
                <img src="../../static/app/img/iconFirstAid.png" alt="" style="width:60px;height:60px;"/>
            </div>
            <h2 class="title">Self-treatment</h2>
            <p>First Aid information for specific kind of snakes is available on your smartphone.</p>
            <br/>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

{% endblock %}
