{% extends "app/layout_2.html" %}
{% block title %}
<h2>List of Snake Cases</h2>
<a href="/">Home</a> / List of Snake Cases
{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
                {% for snake in snakes %}
        
        <tr>
            <td><a style="font-size:20px;font-weight:600" href="/snakes/{{snake.id}}">{{snake.name_separated}}</a></td>
            <td>{{ snake.location }}</td>
            <td><img src="{{snake.image_path}}" class="img-thumbnail" alt="Snake Image" style="width:150px;height:150px"></td>
        </tr>
                {% endfor %}
    </tbody>
</table>
{% endblock %}

